In [10]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [11]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/gardnerguzman/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

In [12]:
#### NASA Mars News

In [13]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)

#Set an HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [14]:
# Retrieve the latest element that contains news title and news_paragraph
news_title = soup.find_all('div', class_='content_title')[1].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

In [15]:
print(news_title)
print(news_p)

Take a 3D Spin on Mars and Track NASA's Perseverance Rover
Two interactive web experiences let you explore the Martian surface, as seen by cameras aboard the rover and orbiters flying overhead.

In [ ]:
#### JPL Mars Space Images - Featured Image

In [16]:
space_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(space_url)
browser.links.find_by_partial_text('FULL IMAGE').click()
#Set an HTML object
html_space = browser.html

# Parse HTML with Beautiful Soup
soup2 = bs(html_space, 'html.parser')

In [17]:
image_url = soup2.find('img',attrs={'class':'fancybox-image'})['src']

In [18]:
#Website URL
web_main_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'

In [19]:
featured_image_url = web_main_url + image_url

In [20]:
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg

In [ ]:
#### Mars Facts

In [21]:
mars_url_facts = 'https://space-facts.com/mars/'

In [22]:
tables = pd.read_html(mars_url_facts)
mars_factsdf = tables[0]
mars_factsdf

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
mars_factsdf.columns = ['Description','Value']
mars_factsdf

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [26]:
mars_factsdf.set_index('Description', inplace=True)
mars_factsdf

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [28]:
with open('mars_factsdf.html', 'w') as fo:
    mars_factsdf.to_html(fo)

In [ ]:
#### Mars Hemispheres

In [29]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemisphere_url)

# Set an HTML object
html_hemi = browser.html

# Parse HTML with Beautiful Soup
soup_hemi = bs(html_hemi, 'html.parser')

In [30]:
# Retrieve items that contain mars hemi info
item = soup_hemi.find_all('div', class_='item')

# Create an empty list to hold it
hemi_list = []

# Main url
hemi_main_url = 'https://astrogeology.usgs.gov'

In [31]:
for i in item:
    
    title = i.find('h3').text
    
    partial_img = i.find('a', class_='itemLink product-item')['href']
    
    browser.visit(hemi_main_url + partial_img)
    
    partial_html = browser.html
    
    soup_par = bs(partial_html, 'html.parser')
    
    image_url = hemi_main_url + soup_par.find('img', class_='wide-image')['src']
    
    hemi_list.append({"title": title, "img_url": image_url})